/* 
    Document   : employeeDirectory
    Created on : Jan 15, 2014, 11:02:30 PM
    Author     : michael
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
}
table {
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
    margin-top: 5px;
}
td{
    padding-left: 3px;
}
.pagebanner{
    float:left;
    padding-bottom: 5px;
}
.pagelinks{
    float: right;
    padding-bottom: 5px;
}
thead th{
    padding:3px;
    background-color: #333333;
    color: #fbcb09;
}
thead th a{
    color: #fbcb09;
}
thead th a:visited{
    color: #fbcb09;
}
thead th a:hover{
    color: #ffe45a;
}
tbody, tr {
    padding:3px;
}
table.employee-directory-table tbody tr:hover {
    background-color:#ffe45a;
}
table.employee-directory-table tbody tr td{
    border-right: 1px solid gray !important;
}
tr.odd{
    background-color: #ccc;
}
.employee-button {
    width: 100px;
}
